// Pro Version Colors
$pluginColors: (
	--footer-widgets-background-color : #282828,
	--footer-widgets-text-color       : rgba(255, 255, 255, 0.5),
	--footer-widgets-link-color       : rgba(255, 255, 255, 0.95),
	--footer-widgets-link-hover-color : rgba(255, 255, 255, 0.5),
	--footer-widgets-border-color     : rgba(255, 255, 255, 0.1),
);
