// Pro Version Colors
$pluginColors: (
	--footer-widget-background-color : #202020,
	--footer-widget-text-color       : rgba(255, 255, 255, 0.5),
	--footer-widget-link-color       : rgba(255, 255, 255, 0.95),
	--footer-widget-link-hover-color : rgba(255, 255, 255, 0.5),
	--footer-widget-border-color     : rgba(255, 255, 255, 0.1),
);
