.header-main {
	position: relative;
	align-items: center;

	.primary-menu-toggle {
		order: 3;
		margin-left: 0;
	}

	.primary-navigation {
		order: 4;
	}

	.header-search {
		order: 2;
		margin-left: auto;
		@include font-size(17);
		@include font-family(--navi-font);
		@include font-weight(--navi-font-weight);
		@include text-transform(--navi-text-transform);

		.header-search-icon {
			padding: 1rem;
			@include color(--header-text-color);

			&:hover,
			&:active {
				cursor: pointer;
				@include color(--header-text-hover-color);
			}

			.icon-search {
				margin: 0;
				padding: 0;
				width: 28px;
				height: 28px;
				vertical-align: middle;
				fill: currentColor;
				transition: fill 0.15s ease;
			}
		}
	}
}

/* Header Search Form */
.header-search .header-search-form {
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
	margin: 0;
	padding: 2rem;
	@include background(--header-background-color);
	border-left: 1px solid;
	border-right: 1px solid;
	@include border-color(--header-border-color);
	width: 100%;
	max-width: 400px;
	height: 100%;
	z-index: 999;
}

.header-search .header-search-form .search-form {
	height: 100%;
	background: #fff;
	align-items: center;
}

@media only screen and (min-width: 960px) {
	.header-main {
		.primary-navigation {
			order: 2;
		}

		.header-search {
			order: 3;
			margin-left: 1rem;
			margin-top: -3px;

			.header-search-icon {

				.icon-search {
					width: 22px;
					height: 22px;
				}
			}
		}
	}

	.header-search .header-search-form {
		right: 4rem;
	}
}
