.header-bar-wrap {
	@include background(--header-background-color);
	border-bottom: 1px solid;
	@include border-color(--header-border-color);
}

.header-bar {
	padding: 0;
}

@media only screen and (min-width: 960px) {
	.header-bar {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}
